/* Background pattern from subtlepatterns.com */
body{
    margin:0px;
    padding:0px;
    width:100%;
    background-image: url("../assets/restaurant.png");
}

.App{
    width:100%;
    margin:0px;
    padding:0px;
}

#main{
    width:100%;
    margin:0px;
    padding:0px;
}

.Homepage{
    width:100%;
    margin:0px;
    padding:0px; 
}

.navbar{
    background-color: white;
    box-shadow: 2px 2px 10px #888888;
    margin-top:.5em;
    padding-right:1em;
    padding-left:1em;
    margin-right:1em;
    margin-left:1em;
}

.navbar div ul li{
    padding-right:1em;
}

#slideshowPosition{
    margin-top:5em;
}

.carousel-caption{
    margin-bottom:10%;
}

.carouselImg{
    width:100%;
}

.carousel{
    width:100%;  
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.Card{
    background-color: white;
    padding:1em;
    margin:1em;
    box-shadow: 2px 2px 10px #888888;
}

.CardTwo{
    background-color: white;
    padding:.3em;
    box-shadow: 2px 2px 10px #888888;   
}

#menuHeader{
    color:white;
    font-size: 6em;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.68);
}
#menuHeaderTwo{
    font-size: 6em;
}

.menuContainer{
    width:100%;
    margin:0px;
    padding:0px;  
}

.menuItem{
    height:11em;
}

.mainImg{
   max-width:96%;
   max-height:100%;
}

.drinkMenuItem{
    height:2em;
}

.drinkMenuItem2{
    height:4em;
}

#special{
    height:4em;
}

#bigItem{
    height:12em;
}

#coldCut{
    margin-top:2em;
}
